<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script>

    var events = [
    {
        title: 'Test Event',
        start: '11/6/2023',
        end: '11/6/2023'
    }
    ]

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'timeGridWeek,timeGridDay' // user can switch between the two
        },
        nowIndicator: true, 
        events,
    });
    calendar.addEvent({
            title: 'Mango Treatment',
            start: "2023-11-06T10:00:00",
            end: "2023-11-06T11:00:00",
        });
    calendar.render();
    });

</script>

<div id='calendar'></div>