<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script>

    var events = [
        {
            title: 'Mango Treatment',
            start: new Date('2023-11-06T09:00:00').toISOString(),
            end: "2023-11-06T11:00:00",
        },
        {
            title: 'Acorn Treatment',
            start: "2023-11-06T13:00:00",
            end: "2023-11-06T14:00:00",
        },
        {
            title: 'Summer Treatment',
            start: "2023-11-06T16:00:00",
            end: "2023-11-06T17:00:00",
        }
    ]

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'timeGridWeek,timeGridDay' // user can switch between the two
        },
        nowIndicator: true, 
        events,
    });
    calendar.render();
    });

</script>

<div id='calendar'></div>